.box {
    display: grid;
    position: absolute;
    place-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    
}

.starterText3 {
    font-size: 1rem;
    background: none;
    position: absolute;
    text-decoration: none;
    font-family:fangsong;
    font-style: italic;
    font-family: Brush Script MT;
    color: red;
    z-index: 2;
    top: 175px;
}

.starterText4 {
    font-size: 1.8rem;
    background: none;
    position: absolute;
    top: 80%;
    left: 25%;
    text-decoration: none;
    
    color:  #242222;
    font-family: 'gotham.md';
    color: rgb(211, 0, 211);
    z-index:2;
   
}

/* @media screen and (max-width: 750px) { */
   
    .starterText {
        position: absolute;
        top: 110px;
        text-decoration: underline;
        color: linear-gradient(orange,purple)
    }
    
    .starterText2 {
        position: absolute;
        top: 130px;
    }
    
    .starterText3 {
        font-size: 1rem;
        background: none;
        position: absolute;
        text-decoration: none;
        font-family:fangsong;
        font-style: italic;
        font-family: Brush Script MT;
        color: red;
        z-index: 2;
        top: 148px;
    }
    
    .starterText4 {
        font-size: 1rem;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width:65%;
        text-align: center;
        text-decoration: none;
        transform: translate(-50%, 420%);
        color:  #242222;
        font-family: 'gotham.md';
        color: rgb(211, 0, 211);
        z-index: 2;
        background: white;
    }

    .loginPage {
        position: absolute;
        height: 100%;
        width: 100%;
        background: white;
        z-index: 10;
    }
    
    .loginSection{
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        padding-top: 5%;
        justify-content: top;
        align-items: center;
        font-weight: bold;
        font-family: "Univers LT W01_67 Bold_1476016",Helvetica,Arial,sans-serif;
        font-size: 32px;
        flex-direction: column;
        -webkit-font-smoothing: antialiased;
    
    }
    
    .websiteLogo{
        display: flex;
        align-items: center;
        height: 80px;
    }
    
    .signIn{
        display: flex;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
    }
    
    .loginForm {
        text-align: left;
        padding-top: 20px;
        width: 345px;
    }
    
    .loginInput {
        
        font-size: 18px;
        width: 100%;
        padding: 9px 12px;
    }
    
    .passwordFormat {
        font-size: 18px;
        padding-bottom:10px;
    }
    
    .usernameFormat {
        font-size: 18px;    
        padding-bottom:10px;
    }
    
    .loginButton {
        margin-top: 30px;
        width: 100%;
        background-color: rgb(211, 0, 211);
        height: 36px;
        border-radius: 5px;
        font-size: 18px; 
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
    }
    .loginButton:hover{
        opacity: 80%;
    }
    
    .orSpan {
        position: relative;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: bold;
        background:white;
        width: 57px;
        text-align: center;
    }
    .hr1 {
        position: relative;
        border: 0;
        border-top: 1px solid grey;
        width: 345px;
        transform:translateY(35px)
      }
    
    .seperator {
        content: "";
        position: relative;
        top: 50%;
        left:0;
        height: 1px;
        width: 100%;
        transform: translateY(-50%);
        color: grey;
    }
    
    .loginRegisterButton {
        
        width: 345px;
        background-color: rgb(211, 0, 211);
        border-radius: 5px;
        height: 36px;
        font-size: 18px; 
        font-weight: bold;
        letter-spacing: 1px;
        text-decoration: none;
        
    }
    .loginRegisterButton:hover{
        opacity: 80%;
    }
    
    .registerForm{
        width: 345px;
        
    }
    
    .registerLink {
        color:white;
        text-decoration: none;
    }
    
    .registerHref {
        z-index: 10;
    }



    @media screen and (min-width: 750px) { 
        .starterText {
            position: absolute;
            top: 50px;
        }
        .starterText2 {
            position: absolute;
            top: 162px;
        }
        .starterText3 {
            font-size: 1.5rem;
            background: none;
            position: absolute;
            text-decoration: none;
            font-family:fangsong;
            font-style: italic;
            font-family: Brush Script MT;
            color: red;
            z-index: 2;
            top: 177px;
        }
        
        /* .starterText4 {
            font-size: 1rem;
            background: none;
            position: absolute;
            top: 75%;
            left: 50%;
            width:65%;
            text-align: center;
            text-decoration: none;
            color:  #242222;
            font-family: 'gotham.md';
            color: rgb(211, 0, 211);
            z-index: 2;
            background: white;

        } */

    }    

    @media screen and (max-width: 500px) {
        .starterText {
            top: 15.5%;
        }

        .starterText2 {
            top: 18%;
        }

        .starterText3 {
            top: 20.5%;
        }
    }