


.backsplash {
z-index: 0;
width: 100%;
height: 100%;   
position: absolute;
display: flex;
flex-direction: column;
justify-content:  center;
align-items: center;
}


.loginDissappear:hover {
    color:transparent;
    visibility: hidden;
    cursor:auto;
}

.login {
    z-index: 6;
    position: absolute;
    height: auto;
    width: auto;
    justify-self: start;
    cursor: pointer;
    font-size: 0.9rem;
    background: none;
    color: black;
    display: flex;
    text-decoration: none;
    letter-spacing: 0.9px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-weight: bold;
    top: 11%;
    left: 7.5%; 
    
}

.userLoginMessage {
  top: 15%;
  --main-color: rgb(255, 65, 255);
  color: var(--main-color);
}

.userCircle {
display: flex;
justify-content:  center;
align-items:center;
color: #8A8A8A;
margin-left: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background: #eee;
  font-family: 'Ubuntu', sans-serif;
}

.dropdown-container {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0 0 0;
}

.dropdown {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 3px;
  width: 85px;
  display: flex;
  border-radius: 3%;
   /* justify-content: space-around;  */
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.fa-angle-down {
  position: relative;
  display: flex;
  top: 7px;
  height:18.5px;
  margin-left:18px;
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}

.rotate-dropdown-arrow {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: unset;
  border-radius: 4px;
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  background: #fafafa;
  transform-origin: top left;
}

.dropdown-menu span {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.dropdown-menu a {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
  color: #212529;
  text-decoration: none;
  font-family: "Univers LT W01_67 Bold_1476016",Helvetica,Arial,sans-serif;
}

.dropdown:hover {
  background: #eee;
}

.dropdown-menu span:hover {
  background: #eee;
}
.dropdown-menu a:hover {
  background: #eee;
}

#openDropdown:checked + .dropdown-menu {
  display: flex;
  animation: openDropDown 0.4s ease 0s 1 forwards;
}



@keyframes openDropDown {
  from { transform: rotateX(50deg); }
  to { transform: rotateX(0deg); }
}

@media screen and (max-width: 768px) {

    .login {
        left:10px;
        top: 4.5rem;
    }


}