
.backsplash {
z-index: 0;
width: 100%;
height: 100%;   
position: absolute;
display: flex;
flex-direction: column;
justify-content:  center;
align-items: center;
}


.loginDissappear:hover {
    color:transparent;
    visibility: hidden;
    cursor:auto;
}

.login {
    z-index: 6;
    position: absolute;
    height: auto;
    width: auto;
    justify-self: start;
    cursor: pointer;
    font-size: 0.9rem;
    background: none;
    color: black;
    display: flex;
    text-decoration: none;
    letter-spacing: 0.9px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-weight: bold;
    top: 9%;
    left: 7.5%;
    
    
    
}

@media screen and (max-width: 768px) {

    .login {
        left:10px;
        top: 4.5rem;
    }


}