

.navbar {
  --main-color: rgb(255, 65, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    width: 100%;
    height: 75px;
    z-index: 6;
    font-family: "Univers LT W01_67 Bold_1476016",Helvetica,Arial,sans-serif;
  }
  /* a:hover {
  color: rgb(255, 65, 255);
  } */

  .whitetlname:hover {
    color: var(--main-color);
    transition: all 0.2s ease-out;
  }

  .tlname:hover {
    color: var(--main-color);
    transition: all 0.2s ease-out;
    
  }

  .logopic {
    cursor: pointer;
    font-size: 5rem;
    transform: translate(0, 40%);
    color: var(--main-color);
    /* background: radial-gradient(circle, rgba(235,233,13,0.9) 0%, rgba(153,101,21,0.9) 100%); */
    border-radius: 18%;
    display: flex;
    text-decoration: none;
    align-items: center;
    z-index: 6;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  .logopic:hover {
    color: var(--main-color);
    transition: all 0.2s ease-out;    
  }

  .GiLion {
    margin-left: 1rem;
    font-size: 1.8rem;
      } 

      .GiHamburgerMenu {
      
        background: #242222;
        display: flex;
        text-decoration: none;
        align-items: center;
        position: absolute;
        justify-self: start;
        cursor: pointer;
        font-size: 5rem;
        z-index: 8;
        margin-left: 1rem;
        font-size: 1.8rem;
        z-index: 2;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
      }
      .GoX {
        
        background: #242222;
        display: flex;
        text-decoration: none;
        align-items: center;
        position: absolute;
        justify-self: start;
        cursor: pointer;
        font-size: 5rem;
        z-index: 8;
        margin-left: 1rem;
        font-size: 1.8rem;
        z-index:2;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
      }
  

.Beats {
 font-size: 3rem;
 background: none;
 position: absolute;
 text-decoration: none;
 transform: translate(-4rem, -10rem);
 color: white;
 text-align: center;
 
 }

  .Not-Beats {
    background: transparent;
    color: transparent;
    pointer-events: none;
    transform: translate(-100rem, -200rem);
    display: none;
  }
  .Beatpage {
    font-size: 3rem;
    background: none;
    position: absolute;
    top: 60%;
    left: 50%;
    text-decoration: none;
    transform: translate(-4rem, -9rem);
    color: white;
    }
   
     .Not-Beatpage {
       background: transparent;
       color: transparent;
       pointer-events: none;
       transform: translate(-100rem, -200rem);
       display: none;
     }

     .Songs {
      font-size: 3rem;
      background: none;
      position: absolute;
      top: 60%;
      left: 50%;
      text-decoration: none;
      transform: translate(-4rem, 3rem);
      color: white;
      }
     
       .Not-Songs {
         background: transparent;
         color: transparent;
         pointer-events: none;
         transform: translate(-100rem, -200rem);
         display: none;
       }   

       .Upload {
        font-size: 3rem;
        background: none;
        position: absolute;
        top: 60%;
        left: 50%;
        text-decoration: none;
        transform: translate(-4rem, -3rem);
        color: white;
        }
       
         .Not-Upload {
           background: transparent;
           color: transparent;
           pointer-events: none;
           transform: translate(-100rem, -200rem);
           display: none;
         }   



  .Beats:hover {
    color: var(--main-color);
    transition: all 0.2s ease-out;
  }


  .Pricing {
    font-size: 3rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-3.1rem, 24rem);
    text-decoration: none;
    color: white;
  }
  .Not-Pricing {
    background: transparent;
    color: transparent;
    pointer-events: none;
    transform: translate(-100rem, -200rem);
  }
  .Pricing:hover {
    color: var(--main-color);
    transition: all 0.2s ease-out;
  }

  .About {
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translate(25%, 0%);
    background: none;
    align-items: flex-end;
    display: inline-block;
    text-decoration: none;
  }

  .BurgerMenu {
    display: flex;
    position: absolute;
    width: 64px;
    right: 10%;
    background: transparent;
    text-decoration: none;
    color:black;
    font-size: 4rem;
    z-index:2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
  .BurgerMenu:hover{
    color: black;
    opacity: 0.7;
  }
  .BurgerChange:hover{
    color: white;
    opacity: 0.7;
  }
 
  .BurgerChange {
    position: absolute;
    display: flex;
    
    justify-content: right;
    right: 9.5%;
    font-size: 4.5rem;
    transform: translate(-3%, 0%);
    background: none;
    
    text-decoration: none;
    color: white;
    z-index:2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    padding-right: 0rem;
    background: transparent;
    text-decoration: none;
    z-index:2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0%;
    position: absolute;
    justify-content: center;
    /* top: 12; */
    left: 0;
    opacity: 1;
    transition: all 0.0s ease;
   background: white;
  }

  .nav-menu.active {
    background: #242222;
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    
  }

  .menu-icon {
    position: relative;
  }

  .loginDissappear {
    z-index: 6;
    position: absolute;
    justify-self: start;
    left: 10px;
    cursor: none;
    font-size: 0.9rem;
    background: none;
    color: transparent;
    display: flex;
    text-decoration: none;
    align-items: center;
    letter-spacing: 0.9px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-weight: bold;
    transform:translate(3.2rem,4rem);
    
  }
  .loginDissappear:hover{
    color:transparent;
    visibility: hidden;
    cursor:auto;
  }
  
  @media screen and (max-width: 750px) {
    .navbar {
      width: 100%;
    }
    
    .menu-icon {
      position: flex;
    }

    .NavbarItems {
      position: flex;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 0%;
      position: absolute;
      /* top: 12; */
      left: 0%;
      opacity: 1;
      transition: all 0.0s ease;
     z-index:2
    }
  
    /* .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: 5;
    } */
   


    .BurgerMenu {
      display: flex;
      position: absolute;
      width: 64px;
      right: 10%;
      align-items: center;
      background: none;
      text-decoration: none;
      color: black;
      opacity: 1;
      font-size: 3rem;
      z-index:2;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
      transform:translate(1.5rem,0)
    }
    .BurgerChange {
      position: absolute;
      display: flex;
      right: 9.5%;
      align-items: center;
      justify-content: right;
      background: none;
      text-decoration: none;
      color: white;
      opacity: 1;
      font-size: 3.5rem;
      z-index:2;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
      transform:translate(5.2rem,0)
    }

    .About {
      position: absolute;
      top: 0;
      right: 2rem;
      transform: translate(25%, 50%);
      background: none;
      align-items: flex-end;
      display: inline-block;
      text-decoration: none;
      height:0;
    }

    .Beats {
      font-size: 2.8rem;
      background: none;
      position: absolute;
      text-decoration: none;
      transform: translate(-4rem, -12rem);
      color: white;
      height:0;
      width: 0;
    }
      .Not-Beats {
        background: transparent;
        color: transparent;
        z-index:5;
        transform: translate(-100rem, -200rem);
        pointer-events: none;
        height: 0;
      }
      .Beatpage {
        font-size: 3rem;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;
        transform: translate(-4rem, -6rem);
        color: white;
        height:0;
      
        }
       
         .Not-Beatpage {
           background: transparent;
           color: transparent;
           pointer-events: none;
           transform: translate(-100rem, -200rem);
           height: 0;
         }
         .Songs {
          font-size: 3rem;
          background: none;
          position: absolute;
          top: 60%;
          left: 50%;
          text-decoration: none;
          transform: translate(-4rem, -4rem);
          color: white;
          }
         
           .Not-Songs {
             background: transparent;
             color: transparent;
             pointer-events: none;
             z-index: -50;
             transform: translate(-100rem, -200rem);
           }  

           .Upload {
            font-size: 3rem;
            background: none;
            position: absolute;
            top: 60%;
            left: 50%;
            text-decoration: none;
            transform: translate(-4rem, -5rem);
            color: white;
            }
           
             .Not-Upload {
               background: transparent;
               color: transparent;
               pointer-events: none;
               z-index: -50;
               transform: translate(-100rem, -200rem);
             }  
    
    .logopic {
      position: flex block;
      font-size: 3rem;
      transform: translate(0,40px);
    }


  }

  .tlname {
    z-index: 6;
    position: absolute;
    justify-self: start;
    left: 5%;
    cursor: pointer;
    font-size: 1.8rem;
    background: none;
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    letter-spacing: 0.9px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-weight: bold;
    
  }

  .whitetlname {
    z-index: 6;
    position: absolute;
    justify-self: start;
    left: 5%;
    cursor: pointer;
    font-size: 1.8rem;
    background: none;
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
    letter-spacing: 0.9px;
    font-weight: bold;
  }
